@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Lato);
.fa {
    padding: 15px;
    font-size: 30px;
    width: 70px;
    text-align: centre;
    text-decoration: none;
    margin: 5px 5px;
}
.fa:hover {
    opacity: 0.7;
    background: #ddffff;
}
.w3-wide {
    letter-spacing: 10px;
}
.w3-hover-opacity {
    cursor: pointer;
}
body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 {
    background-image: url(parallax4.jpg);
    min-height: 130%;
}
.bgimg-2 {
    background-image: url(parallax3.jpg);
    min-height: 400px;
}
.bgimg-3 {
    background-image: url(parallax1.jpg);
    min-height: 400px;
}
.bgimg-4 {
    background-image: url(parallax5.jpg);
    min-height: 400px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Abel;
}
p {
    font-family: Lato;
    font-size: 100%;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    background: #dff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
    transform: translateX(100%) translateY(-100%) rotate(45deg);
    pointer-events: none;
}
.pace.pace-active .pace-activity {
    -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
    transform: translateX(50%) translateY(-50%) rotate(45deg);
}
.pace .pace-activity::after,
.pace .pace-activity::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: "";
}
.pace .pace-activity::before {
    margin-left: -80px;
    width: 160px;
    height: 160px;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-left-color: rgba(0, 0, 0, 0.2);
    -webkit-animation: pace-theme-corner-indicator-spin 3s linear infinite;
    animation: pace-theme-corner-indicator-spin 3s linear infinite;
}
.pace .pace-activity::after {
    bottom: 70px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-animation: pace-theme-corner-indicator-spin 1s linear infinite;
    animation: pace-theme-corner-indicator-spin 1s linear infinite;
}
@-webkit-keyframes pace-theme-corner-indicator-spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@keyframes pace-theme-corner-indicator-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(359deg);
    }
}
.projecticon{
    margin: 20px auto ;
    transition: transform .2s;
}
.projecticon:hover {
     transform: scale(1.2);
}